//---------------------------------------------------------------------------
//
// Name:        DBMSApp.rc
// Author:      bunkdeath
// Created:     5/25/2010 10:38:10 AM
// Description: 
//
//---------------------------------------------------------------------------

#include <wx/msw/wx.rc>
